<html>
<head>
	<meta charset="UTF-8">
    <title>CG ETL Dashboard</title>
    <link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/twitter-bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <header>
        <legend>Caigen ETL Dashboard</legend>
    </header>
    <div class="row">
        <div class="col-md-12 form-inline" role="form">
            <div class="form-group">
                <select class="form-control" id="select-industry">

					{% for industry in industries %}
                    <option>{{industry}}</option>
					{% endfor %}

                </select>
            </div>
            <div class="form-group">
                <select class="form-control" id="select-brands">
                    <!-- <option>{{br}}</option> -->
                </select>
            </div>
			<div class="form-group">
				<button type="button" class="btn" id="i-want-submit">submit</button>
			</div>
        </div>
    </div>
    <div class="row" id='products'>
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <th>#</th>
                    <th>CategoryName</th>
                    <th>Volume</th>
                    <th>Title</th>
                    <th>Alcol</th>
                    <th width="20%">Tag</th>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <select></select>
                                </span>
                                <input type="text" class="form-control col-xs-2 input-tag">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.staticfile.org/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://cdn.staticfile.org/bootbox.js/4.2.0/bootbox.min.js"></script>
<script type="text/javascript">
$(function() {
    function input_select (e) {
        if(e.keyCode == 13) {
            var options = $(this).parent().find('select');
            $('<option/>', {
                'html': $('.input-tag').val()
            }).appendTo(options);
        }
    };

	$('#select-industry').change(function(){
		$.get('industry', { industry: $(this).val()}, function(result){
			$('#select-brands').html(result);
			$('.input-tag').bind('keyup', input_select);
		});
	});

	$('#select-brands').change(function(){
		$.get('brand', {brand: $(this).val()}, function(result){
			$('#products').html(result);
			$('.input-tag').bind('keyup', input_select);
		});
	});

	$('#i-want-submit').click(function(){
		$.get("submit", {submit: 'hello'}, function(result){
			console.log('success');
		});
	});

})

</script>
</body>
</html>
