<div class="col-md-12">
    <table class="table table-bordered table-striped">
		<thead>
            {% for t in titles %}
            <th>{{t}}</th>
            {% endfor %}
			<th width="20%">Tag</th>
		</thead>
		<tbody>

			{% for p in products %}
			<tr>
                {% for pp in p %}
				<td>{{pp}}</td>
                {% endfor %}
				<td>
					<div class="input-group">
						<span class="input-group-addon">
							<select>
							</select>
						</span>
						<input type="text" class="form-control col-xs-2 input-tag">
					</div>
				</td>
			</tr>
			{% endfor %}

		</tbody>
	</table>
</div>
